*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    background: #ccc;
    margin: auto;
    overflow:hidden;
}
/* ---- ---Header --- ---- */
header{
    background: #000;
    background: url('../../Extra/Imagenes/beauty.jpg');
    background-repeat: no-repeat;
    background-position: center;
    max-width: 600px;
}
header .menu {
    margin: 40px 0;
}
header .menu a{
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    boder-bottom: 2px solid;
    font: optional;
    1emt
}